<!-- Text section -->
<tr>
  <td class="main-block__wrap" style="
          padding-bottom: 10px;">
    <span style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;">
      Hello,

    </span>
  </td>
</tr>
<tr>
  <td class="main-block__wrap" style="
          padding-bottom: 24px;">
    <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;">
      We’ve noticed you last logged into Octo Browser a while ago. If you have any questions or want to leave feedback,
      please
      contact us via the Online Chat on our
      <a href="#" title="#" target="_blank" rel="noopener" style="
            color: #1890ff;">website</a> or through the support <a href="#" title="#" target="_blank" rel="noopener"
        style="
                  color: #1890ff;">Telegram bot</a>, and we’ll respond within 5
      minutes
    </p>
  </td>
</tr>
<tr>
  <td class="main-block__wrap" style="
          padding-bottom: 24px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
      <tr>
        <td align="center" class="main-block__img">
          <img src="https://i.ibb.co/JKkTQPG/img-3.png" width="400" alt="#" border="0" style="width: 400px;" />
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="main-block__wrap" style="
                padding-bottom: 24px;
                border-bottom: 1px solid #727272;">
    <p style="
                    margin: 0;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 400;
                    color: #727272;">
      You can also navigate to the Learning Center in the same window, where we’ve compiled comprehensive documentation
      using
      Octo Browser.
    </p>
  </td>
</tr>
<!-- End Text section -->
